html {
  font-size: 2px;
  font-family: sans-serif;
  color: #444;
  background-color: #eee;
}
body {
  font-size: 8rem;
  margin: 0;
  padding: 10rem 0;
}
@media screen {
  #root {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
* {
  box-sizing: border-box;
  /* border: solid red 1px; */
}

.icon {
  height: 30px;
  margin-right: 10rem;
  margin-left: 10rem;
}

.icon-details {
  height: 50px;
}

.widget {
  width: 400rem;
  height: 30rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.widget:hover {
  background-color: lightgrey;
  border: solid blue 1px;
  cursor: pointer;
}

.widget:focus {
  background-color: lightgrey;
}

.details-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  background-color: white;
  padding: 5rem;
}

.detail-col {
  display: flex;
  flex-direction: row;
}

.detail-col-1 {
  margin: 2rem;
}
