html {
  font-size: 2px;
  font-family: sans-serif;
  color: #444;
  background-color: #eee;
}
body {
  font-size: 8rem;
  margin: 0;
  padding: 10rem 0;
}
@media screen {
  #root {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
* {
  box-sizing: border-box;
}

.icon {
  height: 30px;
  margin-right: 10rem;
  margin-left: 10rem;
}

.widget {
  width: 400rem;
  height: 30rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.detail-col {
  display: flex;
  flex-direction: row;
}

.detail-col-1 {
}
